@page "/products/create"

<h1> New Product</h1>

<EditForm Model="_model" OnValidSubmit="@HandleSubmitAsync">

    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <InputText class="form-control" type="text" id="Title" @bind-Value="_model.Title"/>
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <InputNumber class="form-control" type="number" id="Price" @bind-Value="_model.Price"/>
    </div>

    <div class="mb-3">
        <label for="CategoryId" class="form-label">Category</label>
        <InputSelect id="CategoryId" @bind-Value="_model.CategoryId" class="form-control">
            @foreach(var category in _categories){
                <option value="@category.Id">@category.Title</option>
            }
        </InputSelect>
    </div>


</EditForm>

@code{
    Models.Product _model = new();

    List<Models.Category> _categories = new();

        protected override Task OnInitializedAsync()
        {
            @* return base.OnInitializedAsync(); *@
            @* Inserindo manual as listas de categories *@
        }

        async Task HandleSubmitAsync()
    {

    }
}